@use 'variables' as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin card-base {
  background-color: var(--card-bg);
  color: var(--text-color);
  border-radius: $border-radius;
  padding: $spacing-unit * 4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color $transition-speed $transition-ease, color $transition-speed $transition-ease;
}

@mixin mobile {
  @media (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$tablet}) {
    @content;
  }
}
