@use 'variables' as *;
@use 'mixins' as *;
@use 'components';
@use 'auth';
@use 'dashboard';
@use 'card';

:root {
  --primary-dark: #{$primary-dark};


  --primary-light: #{$primary-light};
  
  // Default Day Mode
  --bg-color: #{$bg-light};
  --text-color: #{$text-light};
  --card-bg: #{$card-bg-light};
  --accent-color: #{$primary-dark};
  --btn-text-color: #ffffff;
}

[data-theme='dark'] {
  --bg-color: #{$bg-dark};
  --text-color: #{$text-dark};
  --card-bg: #{$card-bg-dark};
  --accent-color: #{$primary-light};
  --btn-text-color: #{$primary-dark};
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color $transition-speed $transition-ease, color $transition-speed $transition-ease;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}

input, textarea {
  font-family: inherit;
}
